div.top-answer {
  margin-top: 10px;
  .page-list-ext-item {
    margin:0 0 20px 0;

    h3.page-list-ext-title {
      @include MetricWebSemiBold();
      font-size:20px;
      color:oColorsGetPaletteColor("grey-tint5");
      line-height:26px;
      margin-bottom: 0;
      margin-top: 0;

      a {
        @include MetricWebSemiBold();
        font-size:20px;
        color:oColorsGetPaletteColor("org-b2c-dark");
        line-height:26px;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          border-bottom: 1px dotted oColorsGetPaletteColor("org-b2c-dark");
        }
      }
    }
  }
  .page-list-ext-item-content {
    @include content-text();
  }
}
