.category-template {
  ul.category {
    @include list-2-column();

    padding-left: 0;
    margin-top: 22px;
    @include oGridRespondTo($until: M) {
      margin-top: 16px;
    }

    li {
      list-style: none;      
      a {
        @include MetricWebRegular();
        color:oColorsGetPaletteColor("grey-tint5");
        text-decoration: none;
        font-size:26px;
        border-bottom: 1px dotted oColorsGetPaletteColor("pink");
        &:hover {
          text-decoration: none;
          border-bottom: 1px dotted oColorsGetPaletteColor("grey-tint5");
        }
      }
      ul.children {
        margin:0 0 20px 0;
        padding: 0;
        @include list-li-caret();
      }
    }

    li.page_item_has_children {
      a {
        text-transform: uppercase;
        span.caret {
          display: none;
        }
      }
    }
  }
}