.home-template {
  .chat, .contact {
    border-bottom: solid 1px #979797;
  }

  @include oGridRespondTo($until: M) {
    .chat {
      margin-top: 0;
    }
    .old-ft {
      display: none;
    }
  }
  @include oGridRespondTo($from: M) {
    .chat, .contact {
      margin-top: 0;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul.help-topic {
    @include list-2-column();
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    @include list-li-caret();
  }

}