.content-template {

  .content-container {
    @include content-text();

    h1 {
      @include MetricWebSemiBold();
      color: oColorsGetPaletteColor("grey-tint5");
      font-size: 20px;
      margin: 0 0 20px 0;
    }
  }

  div.related-container {
    ul.related-question {
      margin:20px 0;
      padding: 0;
      @include list-li-caret();
    }
  }

}