.legal-template {

  .content-container {
    @include content-text();

    h1 {
      @include MetricWebSemiBold();
      color: oColorsGetPaletteColor("grey-tint5");
      font-size: 40px;
      margin: 0 0 20px 0;
    }

    h2, h3 {
      @include MetricWebSemiBold();
      font-size: 24px;
      line-height: 44px;
      margin: 0;
      span {
        font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
        font-weight: 600 !important;

      }
    }
    h4 {
      @include MetricWebSemiBold();
      font-size: 18px;
      display: inline;
      margin: 0;
    }
    ol {
      @include MetricWebSemiBold();
      margin: 10px 20px;
      li {
        @include MetricWebSemiBold();
        font-size: 18px;
        line-height: 28px;
        b {
          @include MetricWebSemiBold();
        }
      }
    }
  }

}