.search-template {
  .result {
    color:oColorsGetPaletteColor("grey-tint5");
    h2 {
      @include MetricWebSemiBold();
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 25px;

      @include oGridRespondTo($until: M) {
        font-size: 18px;
      }
      a {
        @include MetricWebSemiBold();
        color:oColorsGetPaletteColor("org-b2c-dark");
        text-decoration: none;
        border-bottom: 1px dotted oColorsGetPaletteColor("org-b2c-dark");
      &:hover {
          text-decoration: none;
          border-bottom: none;
        }
      }
    }
    p {
      @include content-text();
    }
  }
  .no-result {
    .icon {
      text-align: center;
      background-image: url("images/primary-action-2/no-search-results.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100px 100px;
      margin-top: 25px;
      padding-top: 100px;
      H1 {
       @include MetricWebSemiBold();
        font-size: 40px;
        margin-bottom: 0;
        @include oGridRespondTo($until: M) {
          font-size: 32px;
        }
      }
      H2 {
        margin-top: 15px;
      }
    }
  }
}
