$o-grid-is-silent: true;
@import 'o-grid/main';

$o-header-is-silent: true;
@import 'o-header/main';

$o-colors-is-silent: true;
@import 'o-colors/main';

$o-buttons-is-silent: true;
@import 'o-buttons/main';

$o-typography-is-silent: true;
@import 'o-typography/main';

$o-fonts-is-silent: true;
@import 'o-fonts/main';

@include oFontsInclude(MetricWeb, $weight: semibold);

@include oFontsInclude(FinancierDisplayWeb);

@import './mixin';

body {
  @include MetricWebRegular();
  background-color: oColorsGetPaletteColor("pink");
  margin: 0;
  padding: 0;

  H1 {
    @include MetricWebSemiBold();
    color: oColorsGetPaletteColor("grey-tint5");
    font-size: 40px;
    margin: 0;
    @include oGridRespondTo($until: M) {
      font-size: 32px;
      margin-top: 25px;
    }
  }

  h2.o-typography-subhead--crosshead {
    @include MetricWebRegular();

    border: none;
    font-size:26px;
    color:#4a4a4a;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
  }

  hr {
    padding:0;
    margin:0;
    border:none;
    border-top: solid 1px #979797;
  }

  .home-template, .category-template, .subcategory-template, .contact-template, .content-template, .search-template, .legal-template {
    @include layout-padding();
  }

  .category-template, .subcategory-template, .contact-template {
    div.chat-container {
      margin-bottom: 16px;
      @include oGridRespondTo($from: M) {
        @include oGridPush(6);
      }
      .chat {
        margin-top: 0;
        padding-bottom: 0;
      }

    }
    div.heading-container {
      @include oGridRespondTo($from: M) {
        @include oGridPull(6);
      }
    }
  }

  .content-template, .search-template, .legal-template {
    div.chat-container {
      margin-bottom: 16px;
      @include oGridRespondTo($from: M) {
        @include oGridPush(8);
      }
      .chat {
        margin-top: 0;
        padding-bottom: 0;
      }

    }
    div.content-container {
      @include oGridRespondTo($from: M) {
        @include oGridPull(4);
      }
    }
  }

  nobr {
    white-space: nowrap;
    span {
      white-space: nowrap;
    }
  }
}

@import './components/header-subbrand';
@import './components/search-form';
@import './components/primary-action';
@import './components/back-to-top';
@import './components/breadcrumbs';
@import './components/top-answer';
@import './components/no-result';
@import './components/footer';

@import './pages/home';
@import './pages/category';
@import './pages/subcategory';
@import './pages/contact';
@import './pages/index';
@import './pages/search';
@import './pages/legal';


